<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iecloud.dao.HistoricalRecordMapper" >
  <resultMap id="BaseResultMap" type="com.iecloud.pojo.HistoricalRecord" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_video_time" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_number, title, video_address, detail, current_video_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from videoshare_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videoshare_history
    where phone_number = #{phoneNumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iecloud.pojo.HistoricalRecord" >
    insert into videoshare_history (id, phone_number, title, 
      video_address, detail, current_video_time
      )
    values (#{id,jdbcType=INTEGER}, #{phoneNumber,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{videoAddress,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{currentVideoTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iecloud.pojo.HistoricalRecord" >
    insert into videoshare_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="videoAddress != null" >
        video_address,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="currentVideoTime != null" >
        current_video_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="videoAddress != null" >
        #{videoAddress,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="currentVideoTime != null" >
        #{currentVideoTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iecloud.pojo.HistoricalRecord" >
    update videoshare_history
    <set >
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="videoAddress != null" >
        video_address = #{videoAddress,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="currentVideoTime != null" >
        current_video_time = #{currentVideoTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iecloud.pojo.HistoricalRecord" >
    update videoshare_history
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      video_address = #{videoAddress,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      current_video_time = #{currentVideoTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getHistoricalRecordByUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from videoshare_history
    where phone_number = #{phoneNumber}
  </select>
  <select id="checkPhone" parameterType="java.lang.String" resultType="int">
    select count(1) from videoshare_history
    where phone_number = #{phoneNumber}
  </select>
  <update id="updateByPhoneNumber" parameterType="com.iecloud.pojo.HistoricalRecord">
    update videoshare_history
    <set >

      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="videoAddress != null" >
        video_address = #{videoAddress,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="currentVideoTime != null" >
        current_video_time = #{currentVideoTime,jdbcType=BIGINT},
      </if>
    </set>
    where phone_number = #{phoneNumber,jdbcType=VARCHAR}
  </update>


</mapper>